.App {
  text-align: center;
  
}

.App-logo {
  width: 200px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header{
  background-color: #5a4e4e;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .App-logo {
    margin-bottom:70px;
    width: 100px;
  }
}
@media (max-width: 768px){
  .App-logo {
    margin-bottom:30px;
    width: 100px;
  }
   
}
 @media (max-width: 1024px){
  .App-logo {
    margin-bottom:30px;
    width: 100px;
  }
}